.navbar{
    margin: 0px auto;
    padding: 1rem;
    width: 60%;
    border-radius: 30px !important;
    position: sticky;
    top: 20px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(208, 241, 255) !important;
}

.nav-link{
    transition: .5s;
}

.nav-link:hover{
    color: rgb(186, 186, 186)
}