#welcome_sec{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    /* flex-flow: column wrap; */
}

#left_div{
    /* height: fit-content; */
    padding: 1.5rem;
    display: flex;
    justify-content: center;
}

#left_div .figure img{
    transition: .5s;
}

#left_div .figure img:hover{
    transform: scale(1.05);
}

#right_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
}

#right_div h1{
    font-size: 4rem;
    margin-bottom: 20px;
}

#right_div h4{
    color: rgb(57, 201, 201);
}

#right_div p{
    font-size: 15px;
}



@media screen and (max-width: 1000px) {
    #welcome_sec{
        flex-direction: column;
    }
    
}